__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
backend/.venv/
*.env
.env.local
.env.*.local
db.sqlite3
*.log

node_modules/
.next/
out/
build/
dist/

*.dockerignore
Dockerfile.local
*.log

.vscode/

*.bak
*.swp
*~